@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
    flex-shrink: 0;
}

.carousel-item img {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}

/* medium and up screens */
@media (min-width: 768px) {

    .d-3 .carousel-item-end.active,
    .d-3 .carousel-item-next {
        transform: translateX(33.33%);
    }

    .d-3 .carousel-item-start.active,
    .d-3 .carousel-item-prev {
        transform: translateX(-33.33%);
    }

    .d-2 .carousel-item-end.active,
    .d-2 .carousel-item-next {
        transform: translateX(50%);
    }

    .d-2 .carousel-item-start.active,
    .d-2 .carousel-item-prev {
        transform: translateX(-50%);
    }

}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}