<div class="d-flex flex-column gap-2">
  {{form.appointment_date}}
  <label for="{{ form.name.id_for_label}}">Tu nombre</label>
  {{form.name}}
  <label for="{{ form.hour.id_for_label }}">Hora de tu cita</label>
  {{form.hour}}
  <label for="{{ form.service.id_for_label}}">Servicio deseado</label>
  {{form.service}}
  <label for="{{form.phone_number.id_for_labeld}}"
    >Teléfono (a 10 dígitos)</label
  >
  {{form.phone_number}}
  <label for="{{ form.message.id_for_label}}">Mensaje</label>
  {{form.message}}
  <label for="{{form.image.id_for_label}}"
    >Agrega una imagen de referencia (opcional)</label
  >
  {{form.image}}
</div>
