<head>
  <title>Catálogo | Idalia López</title>
  {% load static %} {% load bootstrap5 %}
  <span />
  {% bootstrap_css %} {% bootstrap_javascript %}
</head>
{% include "./header.html" %}
<div
  style="
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
  "
>
  <h4>Productos y servicios</h4>
  <p>Echa un vistazo a los productos y servicios disponibles</p>
  <div
    class="d-flex"
    style="
      justify-content: center;
      max-width: 1500px;
      width: 100%;
      flex-wrap: wrap;
    "
  >
    {% for product in products %}
    <div class="col-sm-12 col-md-6 p-3">
      <div class="card">
        <div class="card-img" style="background: #c772c777">
          <div
            id="carouselImages{{forloop.counter}}"
            class="carousel slide"
            style="background: #c772c777"
            data-bs-interval="5000"
            data-bs-ride="carousel"
          >
            <div
              class="carousel-inner d-3 d-flex"
              role="listbox"
              style="max-width: 1500px; margin: 0 auto"
            >
              {% for image in product.image_list %}
              <div
                class="carousel-item {%if forloop.counter == 1%}active{%endif%}"
              >
                <img
                  loading="lazy"
                  class="w-100"
                  style="height: 350px; object-fit: contain"
                  src="{{ image.url }}"
                  alt="Image no:1"
                />
              </div>
              {%endfor%}
            </div>
          </div>
        </div>
        <div class="card-body" style="height: 320px">
          <h5 class="card-title">{{product.name}}</h5>
          <h6 class="card-subtitle">${{product.price}}</h6>
          <p class="card-text">{{product.description}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% include "./footer.html" %}
